<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <runtime>
    <generatePublisherEvidence enabled="false"/>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAPICodePack" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <codeBase version="1.1.0.0" href="./Microsoft.WindowsAPICodePack.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAPICodePack.Shell" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <codeBase version="1.1.0.0" href="./Microsoft.WindowsAPICodePack.Shell.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PEImageDebugSampleLib" culture="neutral"/>
        <codeBase version="1.0.0.0" href="./PEImageDebugSampleLib.dll"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
